html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  line-height: 1;
}
ol.ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/*style*/
body {
  font: 16px/28px arial, sans-serif;
  color: #333;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-position: center;
}

.top-bar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 40px;
  background-color: lightskyblue;
  border-bottom: 3px solid salmon;
  z-index: 9999;
  opacity: 97%;
}

.container {
  width: 90%;
  margin: 110px auto;
  background-color: #fff;
  position: relative;
  max-width: 850px;
}

.instagram {
  width: 185px;
  height: 190px;
  padding-right: 0px;
  background-image: url(images/twitter.png);
  background-repeat: no-repeat;
  display: inline-block;
  text-indent: -9999px;
  position: absolute;
  top: -23px;
  right: -13px;
  z-index: 999;
}

.header {
  padding: 20px;
  padding-bottom: 10px;
}

.header .judul {
  font-size: 40px;
  font-weight: bold;
}
.header ul li {
  display: inline-block;
  margin-top: 20px;
  margin-right: 10px;
}

.header a {
  text-decoration: none;
  color: salmon;
  padding: 3px;
}

.header a:hover {
  background-color: lightskyblue;
  color: white;
}

.hero {
  height: 250px;
  background-size: cover;
  background-position: center;
  border-top: 5px solid rgba(144, 177, 248, 0.651);
  border-bottom: 5px solid rgba(21, 234, 245, 0.582);
  background-attachment: fixed;
  opacity: 0.85;
  align-items: center;
  justify-content: center;
  display: flex;
}
.animasi {
  width: 100%;
  height: -webkit-fill-available;
  max-width: 20rem;
}

/* main */

.main {
  padding: 20px;
}

.main h2 {
  font-size: 28px;
  font-weight: bold;
}

.main .penulis {
  font-size: 11px;
  margin-top: -5px;
}

.main .penulis a {
  color: salmon;
  text-decoration: none;
}

.main p {
  margin-bottom: 20px;
  font-size: 14px;
  text-align: justify;
}

.main img {
  width: 60%;
  float: right;
  margin-left: 1rem;
}

/*sidebar*/
.sidebar {
  /* width: 300px; */
  /* float: right; */
  padding: 20px;
  text-align: justify;
}

.sidebar h3 {
  font-weight: bold;
  color: rgb(98, 160, 241);
}

.sidebar img {
  width: 5rem;
  float: left;
  padding-right: 10px;
}

.sidebar p {
  font: 12px/18px arial;
}

.footer {
  background-color: rgb(78, 198, 238);
  padding: 10px;
}

.footer .copy {
  color: #eaeaea;
  text-align: center;
  font-size: 12px;
}

.main .reference a {
  color: rgb(98, 160, 241);
  text-decoration: none;
}

.main .reference {
  font-size: 11px;
  color: salmon;
}

.cf:before,
.cf:after {
  /* content: " "; */ /* 1 */
  display: table; /*2 */
}

.cf:after {
  clear: both;
}

.content.cf {
  display: grid;
  grid-template-columns: 2fr 1fr;
}

header.shadow {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 9999;
  background: white;
  box-shadow: 0 1px 4px hsl(0 4% 14% / 10%);
  transition: 0.5s;
}

.nav_container {
  max-width: 90%;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 18px 0;
}

a.logo {
  font-size: 1.5rem;
  font-weight: 600;
  color: black;
  text-decoration: none;
}

.logo span {
  color: rgba(77, 228, 255);
}

.login {
  text-transform: uppercase;
  font-weight: 500;
  border-radius: 15px;
  background: black;
  color: white;
  box-shadow: 0 4px 14px rgb(71, 69, 69);
  transition: 0, 4s;
}

body header .nav_container .login img {
  width: 40px;
  height: 40px;
  border-radius: 15px;
}

@media (max-width: 425px) {
  a.logo {
    font-size: 1rem;
  }

  .container {
    margin: 80px auto;
  }

  .nav_container {
    padding: 10px 0;
  }

  body header .nav_container .login img {
    width: 30px;
    height: 30px;
    border-radius: 10px;
  }

  .sidebar img {
    width: 10rem;
    float: left;
    padding-right: 10px;
  }
  .content.cf {
    display: block;
  }
  .main img {
    width: 100%;
    float: none;
    margin-left: 0rem;
  }
  .main h2 {
    font-size: 15px;
  }
  .header .judul {
    font-size: 20px;
  }
  .header ul li {
    margin-top: 0px;
    font-size: 12px;
  }
  .instagram {
    width: 148px;
    height: 190px;
    top: -18px;
    right: -10px;
    background-size: 10rem;
  }
  .hero {
    height: 200px;
  }
}

/* Hide scrollbar for Chrome, Safari, and Opera */
html::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE and Edge */
body {
  -ms-overflow-style: none; /* IE and Edge */
}

/* Hide scrollbar for Firefox */
body {
  scrollbar-width: none; /* Firefox */
}
